body html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;

}

header {
    color: eggsshell;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white; 
    z-index: 1000; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}

h1 {
    width: 17em;
    margin-left: 30px;
    white-space: nowrap;
    overflow: hidden;
    border-right: .15em solid #192231;/* The typwriter cursor */
    font-size: 2em;
    animation: typing 5s steps(40, end), blink-caret .75s step-end infinite;
    animation-delay: 1s;
}

body {
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

@media (max-width: 768px) {
   body, header, html {
    max-width: 100%;
    flex-wrap: wrap;
    overflow-x: hidden;
   }
    
}

@media (max-width: 480px) {
    body, header, html {
     max-width: 100%;
     flex-wrap: wrap;
     overflow-x: hidden;
    }
     
 }


#intro h2, #resume h2, #coding-proj h2, #digital-art h2, #contact-info h2 {
    width: 100%;
    margin: 0;
}

/* tool bar section */
.toolbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.toolbar li {
    margin: 0 15px;
}

.toolbar a {
    color: #192231; 
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.toolbar a:hover {
    background-color: #CAC6BF; 
}

/* welcome Page */
.emma {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center;
    z-index: 2;
    background-color: white;
    width: 50%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    box-sizing: border-box; 
    max-width: 100%; 
    font-size: 2.5rem; 
}

.typing-effect {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.15em solid #192231;
    animation: typing 3.5s steps(30, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 16em }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #192231; }
}

/* Media query for screens smaller than 1024px */
@media (max-width: 1024px) {
    .emma {
        width: 60%;
        font-size: 1.3rem; 
    }

    @keyframes typing {
        from { width: 0 }
        to { width: 14em } 
    }
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
    .emma {
        width: 80%;
        font-size: 1.1rem; 
    }

    @keyframes typing {
        from { width: 0 }
        to { width: 12em } 
    }
}

/* Media query for screens smaller than 480px */
@media (max-width: 480px) {
    .emma {
        width: 90%;
        font-size: 1rem;
    }

    @keyframes typing {
        from { width: 0 }
        to { width: 10em } 
    }
}


.banner {
    height: 600px; 
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    overflow: hidden;
    color: white;
    margin: 0 auto;
}


.banner_pic {
    width: 100%;
    height: 750px;
    object-fit: cover;
    opacity: 0.8;
    padding:0;
}

#background-image {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    z-index: -1;
    background-image: url('./resources/images/blue.02.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.background img{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    overflow: hidden;
}

/* intro section */
#intro {
 
    color: white;
   
}

section#intro {
    padding-top: 1px; 
    color: white;
}

section#intro h2{
    color: #192231;
    width: 100%;
    height: auto;
    font-size: 32px;
    background-color: whitesmoke;
    text-align: center;
}

section#into p{
    color: white;
    font-size: 16px;
}
.intro-content {
    display: flex;
    align-items: center;
    text-align: center;
    
   
}

.intro-content p {
    flex: 2;
    font-size: 1.2em;
    line-height: 1.8;
    margin-right: 20px;
    
}

#intro h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center;
    color: #192231;
    background-color: #CAC6BF;

}

.knowbetter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px; 

}

.details {
    flex: 1 50%;
    max-width: 400px;
    margin-right: 25%;
     font-size: 16px;
    align-content: center;
}

.profile-pic {
    flex: 0 0 300px;
    max-width: 300px;
    max-height: 300px;
    border-radius: 35%;
   margin:0 auto;
    align-content: center;
    border: solid 1.5px #CAC6BF;
}

@media (max-width: 768px) {
    .knowbetter {
        flex-direction: column; /* Stack items vertically on smaller screens */
        align-items: center; /* Center align items */
    }

    .details {
        max-width: 100%; /* Full width for details on smaller screens */
        margin-top: 20px; /* Add some space between the image and text */
    }

    .profile-pic{
        width: auto;
        height: auto;
    }
}

/* Resume */
section#resume h2 {
    color: #192231;
    width: 100%;
    height: auto;
    font-size: 32px;
    background-color: whitesmoke;
    text-align: center;
}

.resume-entry{
    line-height: 1.5;
}

section#resume {
    color: white;
   
}

h2, h3, h4, h6 {
    margin-bottom: 10px;
}

.resume-section {
    margin-bottom: 30px;
    padding: 20px;
    margin: 20px;
}

.resume-section h3 {
    color: #CAC6BF;
    width: 100%;
    text-align: center;
    font-size: 24px;
    
}

.education {
        border: 2px solid #000;
        padding: 20px; 
        margin: 5px 0; 
        background-color: rgba(97, 145, 211, 0.1); 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
}

.skills-list {
    border: 2px solid #000;
    padding: 20px; 
    margin: 5px 0; 
    background-color: rgba(97, 145, 211, 0.1); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    line-height: 2;
}


.resume-entry {
    margin-bottom: 20px;
}

.resume-entry h4 {
    margin-bottom: 10px;
    color: #CAC6BF;
}

.resume-entry ul {
    list-style-type: disc;
    margin-left: 20px;
}

.resume-entry p {
    margin: 5px 0;
}

.skills-list {
    padding-left: 20px;
    list-style-type: none;
    line-height: 1.5;
}

.skills-list li {
    margin-bottom: 5px;
}
.topanga {
    display: flex;
    align-items: flex-start; 
    flex-wrap: nowrap; 
}

.topanga-pic {
    width: 300px;
    height: 400px;
    margin-right: 20px; 
  
    border: solid 1.5px #CAC6BF;
}

.resume-entry {
    flex: 1; 
}

/* General adjustments for smaller screens */

@media (max-width: 768px) {
    .topanga {
        flex-direction: column;
        align-items: center;
    }

    .topanga-pic {
        margin-right: 0;
        margin-bottom: 15px;
        max-width: 100%;
    }

    .resume-entry {
        text-align: center;
    }
}

@media (max-width: 480px) {
    section#resume h2 {
        font-size: 24px;
        padding: 10px 0;
    }

    .resume-section {
        padding: 10px;
    }

    .resume-entry h4 {
        font-size: 1.1em;
    }

    .resume-entry ul {
        padding-left: 15px;
    }

    .resume-entry ul li {
        font-size: 0.9em;
    }

    .topanga {
        flex-direction: column;
        align-items: center;
    }

    .topanga-pic {
        margin-right: 0;
        margin-bottom: 15px;
        max-width: 100%;
    }

    .resume-entry {
        text-align: center;
    }
}



/*coding projects */
section#coding-proj h2 {
    color: #192231;
    width: 100%;
    height: auto;
    font-size: 32px;
    background-color: whitesmoke;
    text-align: center;
}

section#coding-proj {
    color: white;
  
}

h2, h3, h4, h6 {
    margin-bottom: 10px;
}

.message-container {
    display: flex;
    align-items: center; 
    gap: 20px;
   
}

.button-output {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; 
   
    
}
.running-differences {
    display: flex;
    align-items: center; 
    gap: 20px; 
}

.button-output-run {
    margin : 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 10px; 
}


.mixed-message h4 {
    text-align: center;
    text-decoration: underline;
    
    flex-wrap: wrap;
   font-size: 20px;
}
.project-category{
    padding: 20px;
    margin: 20px;
}
.project-category h3{
    margin-bottom: 20px;
    font-size: 32px;
    text-align: center;
    color: #192231;
    background-color: #CAC6BF;
    
}

.runningdifferences h4{
    text-align: center;
    text-decoration: underline;
    flex-wrap: wrap;
   font-size: 20px;

}

.project-category p{
    margin-bottom: 20px;
    font-size: 16px;
    text-align: center;
}

.list-container {
    display: flex;
    justify-content: space-between;
}

.list-group {
    flex: 1;
    margin-right: 20px; 
    font-size: 20px;
}

.list-group:last-child {
    margin-right: 0;
}

.project {
    font-size: 18px;
}

.project {
    position: relative;
    width: 100%; 
    height: 800px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    overflow: hidden; 
    align-content: center;
}

.project h4 {
    margin: 0; 
    padding: 10px 20px; 
    background-color: #CAC6BF; 
    border-top-right-radius: 5px; 
    align-self: flex-start; 
    color: #192231;
    text-align: center;
}

.project img {
    width: 300px; 
    height: 400px; 
    object-fit: cover; 
    display: block;
    margin-bottom: 10px;
}

.project-category h4 {
    align-items: center;
}

.project-category img {
    width: 500px; 
    height: 700px; 
    object-fit: cover;
    display: block;
    margin-bottom: 10px;
    align-items: center;
}

.image-container {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    gap: 10px; 
    padding: 10px; 
}

.image-container img {
    max-width: 100%; 
    height: auto; 
    flex-wrap: wrap;
    border-radius: 10px;
    flex: 1; 
} 


.message-container {
    border: 2px solid #000;
    padding: 20px; 
    margin: 5px 0; 
    background-color: rgba(97, 145, 211, 0.2); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.running-differences {
    border: 2px solid #000;
    padding: 20px; 
    margin: 5px 0; 
    background-color: rgba(97, 145, 211, 0.2); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .project-category .message-container,
    .project-category .running-differences {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .project-category .message-container img,
    .project-category .running-differences img {
      width: 100%; 
      max-width: 300px; 
      margin: 10px 0;
    }
  
    .project-category .button-output, 
    .project-category .button-output-run {
      margin-top: 10px;
    }
  
    .project-category h3,
    .project-category p {
      margin: 10px 0;
    }
  }
  
  @media (max-width: 480px) {
    .project-category .mixed-message, 
    .project-category .running-differences {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .project-category .mixed-message img,
    .project-category .running-differences img {
      width: 100%; 
      max-width: 300px; 
      margin: 10px 0;
    }
  
    .project-category .button-output, 
    .project-category .button-output-run {
      margin-top: 10px;
    }
  
    .project-category h3,
    .project-category p {
      margin: 10px 0;
    }
  }


/* digital art portfolio */
section#digital-art h2 {
    color: #192231;
    width: 100%;
    height: auto;
    font-size: 32px;
    background-color: whitesmoke;
    text-align: center;
}
#digital-art {
    margin: 0;
}
.procreate h3 {
    font-size: 28px;
    text-align: center;
}

.procreate h4 {
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
}

.procreate-masks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; 
    padding: 20px; 
    max-width: 1200px; 
    margin: 0 auto; 
}

/* Individual image styling */
.procreate-masks img {
    width: 100%; 
    height: auto; 
    border-radius: 10px; 
    transition: transform 0.3s ease; 
    object-fit: cover; 
    border: solid 1.5px #CAC6BF;
}

/* Hover effect */
.procreate-masks img:hover {
    transform: scale(1.5); 
}

/* Responsive adjustments */
@media (max-width: 1200px) {
    .procreate-masks {
        grid-template-columns: repeat(3, 1fr); 
    }
}

@media (max-width: 800px) {
    .procreate-masks {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 500px) {
    .procreate-masks {
        grid-template-columns: 1fr; 
    }
}

.procreate-gif {
    display: flex;
    justify-content: baseline;
    flex-wrap: wrap;
    margin: 0 auto;
}

.procreate-gif img {
    height: 400px;
    width: 400px;
    align-items: center;
    max-width: 100%;
    margin-right: 10px; 
    margin: 0 auto;
    border: solid 1.5px #CAC6BF;
    border-radius: 10%;
    
}

.pizza-menu {
    display: flex;
    justify-content: baseline;
    flex-wrap: wrap;
    margin: 0 auto;
}

.pizza-menu img {
    width: auto;
    height: 400px;
    margin: 0 auto;
    border: solid 1.5px #CAC6BF;
}
.halloween-special {
    display: flex;
    justify-content: baseline;
    flex-wrap: wrap;
    margin: 0 auto;
}
.halloween-special img {
    width: 500px;
    height: auto;
    margin: 0 auto;
    align-items: center;
    border: solid 1.5px #CAC6BF;
}

@media (max-width: 768px) {
    .pizza-menu {
        display: flex;
        justify-content: center; 
        flex-wrap: wrap;
        margin: 0 auto;
    }
    
    .pizza-menu img {
        max-width: 80%;
        height: auto; 
        margin: 10px; 
        border: solid 1.5px #CAC6BF;
        box-sizing: border-box;
    }
    
    .halloween-special {
        display: flex;
        justify-content: center; 
        flex-wrap: wrap;
        margin: 0 auto;
    }
    
    .halloween-special img {
        max-width: 100%; 
        height: auto; 
        margin: 10px; 
        border: solid 1.5px #CAC6BF;
        box-sizing: border-box; 
    }
}

ul, ol {
    margin: 10px 0;
    padding-left: 20px;
}

ul li, ol li {
    margin-bottom: 5px;
}

/* Contact Info */
.contInfo {
    position: relative;
    width: 100%;
    max-width: 1200px; 
    margin: auto;
    
    height: auto; 
}

.background-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.background-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center; 
    border: solid 1.5px #CAC6BF;
}

.contact-container {
    position: relative; 
    display: block;
    width: 300px;
    height: auto;
    z-index: 2;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(255, 255, 255, 0.8); 
    color: #192231;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto; 
    box-sizing: border-box; 
}

.contact-block {
    margin: 0 10px;
}

.contact-block a {
    color: #192231;
    text-decoration: none;
}

.contact-block a:hover {
    color: #6191D3;
    text-decoration: underline;
}

.contact-block h3 {
    font-size: 24px;
    margin-bottom: 10px;
    background-color: #CAC6BF;
    text-align: center;
    color: #192231;
}

.contact-block p {
    font-size: 20px;
    line-height: 1.8;
    text-align: left;
}

/* Media Queries for Smaller Screens */
@media (max-width: 768px) {
    .contInfo {
        height: auto; 
    }

    .background-container {
        height: 100%; 
    }

    .background-container img {
        height: 100%;
        border: none; 
    }

    .contact-container {
        width: 80%; 
        padding: 15px; 
    }

    .contact-block h3 {
        font-size: 20px; 
    }

    .contact-block p {
        font-size: 18px; 
    }
}

@media (max-width: 480px) {
    .contact-container {
        width: 90%; 
        padding: 10px; 
    }

    .contact-block h3 {
        font-size: 18px;
    }

    .contact-block p {
        font-size: 16px;
    }
}

/* Footer */
footer {
    background-color: #192231;
    color: white;
    text-align: center;
    padding: 10px;
}
/* Ensure images are responsive */
@media (max-width: 768px) {
    .image-gallery img {
        max-width: 45%; 
    }
}

@media (max-width: 480px) {
    .image-gallery img {
        max-width: 90%; 
    }
}

@media (max-width: 768px) {
    .intro-content {
        flex-direction: column;
        align-items: center;
    }
    .intro-content p, .profile-pic {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .toolbar {
        max-width: 100%;
        width: auto;
    }
    
    .toolbar ul {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
    
    .intro-content, .resume-section, .project-category, .procreate, .contact-container {
        padding: 5px;
    }
    
    .details ul {
        padding-left: 5px;
    }
    
    .resume-entry ul, .skills-list {
        padding-left: 5px;
    }

    .contact-block {
        margin-bottom: 5px;
    }
}

/* Styles for screens between 769px and 1024px */
@media (max-width: 769px){
    .toolbar {
        max-width: 100%;
        width: auto;
    }

    .toolbar ul {
        justify-content: space-evenly;
        width: 100%;
    }

    .intro-content, .resume-section, .project-category, .procreate, .contact-container {
        padding: 5px;
    }

    .details ul {
        padding-left: 5px;
    }

    .resume-entry ul, .skills-list {
        padding-left: 5px;
    }
}