body html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
    
    margin: 0;

}

header {
    color: #192231;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white; 
    z-index: 1000; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}

h1 {
    width: 17em;
    margin-left: 30px;
    white-space: nowrap;
    overflow: hidden;
    border-right: .15em solid #192231;/* The typwriter cursor */
    font-size: 2em;
    animation: typing 5s steps(40, end), blink-caret .75s step-end infinite;
    animation-delay: 1s;
}




#intro h2, #resume h2, #coding-proj h2, #digital-art h2, #contact-info h2 {
    width: 100%;
    margin: 0;
}

/* tool bar section */
.toolbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.toolbar li {
    margin: 0 15px;
}

.toolbar a {
    color: #192231; 
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.toolbar a:hover {
    background-color: #CAC6BF; 
}

/* welcome Page */
.emma {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center;
    z-index: 2;
    background-color: white;
    width: 50%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    box-sizing: border-box; 
    max-width: 100%; 
    font-size: 2.5rem; 
}

.typing-effect {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.15em solid #192231;
    animation: typing 3.5s steps(30, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 16em }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #192231; }
}

/* Media query for screens smaller than 1024px */
@media (max-width: 1024px) {
    .emma {
        width: 60%;
        font-size: 1.3rem; /* Slightly smaller font size */
    }

    @keyframes typing {
        from { width: 0 }
        to { width: 14em } /* Adjust width for medium screens */
    }
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
    .emma {
        width: 80%;
        font-size: 1.1rem; /* Further adjust font size */
    }

    @keyframes typing {
        from { width: 0 }
        to { width: 12em } /* Adjust width for small screens */
    }
}

/* Media query for screens smaller than 480px */
@media (max-width: 480px) {
    .emma {
        width: 90%;
        font-size: 1rem; /* Further adjust font size */
    }

    @keyframes typing {
        from { width: 0 }
        to { width: 10em } /* Adjust width for very small screens */
    }
}


.banner {
    height: 600px; 
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    overflow: hidden;
    color: white;
    margin: 0 auto;
}


.banner_pic {
    width: 100%;
    height: 750px;
    object-fit: cover;
    opacity: 0.8;
    padding:0;
}

body {
    background-color: #192231;
}

/* intro section */


section#intro {
    padding-top: 50px; 
    color: white;
}

section#intro h2{
    color: #192231;
    width: 100%;
    height: auto;
    font-size: 32px;
    background-color: whitesmoke;
    text-align: center;
}

section#into p{
    color: white;
    font-size: 16px;
}
.intro-content {
    display: flex;
    align-items: center;
    text-align: center;
}

.intro-content p {
    flex: 2;
    font-size: 1.2em;
    line-height: 1.8;
    margin-right: 20px;
}

#intro h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center;
    color: #192231;
    background-color: #CAC6BF;
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.animate-on-scroll {
    animation: fadeIn 2s ease-in-out;
}
.knowbetter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px; /* Add margin to the sides for spacing */
    animation: fadeIn 2s ease-in-out;
}

.details {
    flex: 1 50%;
    max-width: 400px;
    margin-right: 25%;
     font-size: 16px;
    align-content: center;
}

.profile-pic {
    flex: 0 0 300px;
    max-width: 300px;
    max-height: 300px; /* Ensure the image does not exceed a reasonable size */
    border-radius: 35%; /* Optional: Add some styling to the image */
    margin-left: 22%; /* Add some left margin for spacing */
    align-content: center;
}


/* Resume */
section#resume h2 {
    color: #192231;
    width: 100%;
    height: auto;
    font-size: 32px;
    background-color: whitesmoke;
    text-align: center;
}



section#resume {
    color: white;
   
}

h2, h3, h4, h6 {
    margin-bottom: 10px;
}

.resume-section {
    margin-bottom: 30px;
    padding: 20px;
    margin: 20px;
}

.resume-section h3 {
    color: #CAC6BF;
    width: 100%;
    text-align: center;
    font-size: 24px;
    
}



.resume-entry {
    margin-bottom: 20px;
}

.resume-entry h4 {
    margin-bottom: 10px;
    color: #CAC6BF;
}

.resume-entry ul {
    list-style-type: disc;
    margin-left: 20px;
}

.resume-entry p {
    margin: 5px 0;
}

.skills-list {
    padding-left: 20px;
    list-style-type: none;
}

.skills-list li {
    margin-bottom: 5px;
}


/* coding projects */
section#coding-proj h2 {
    color: #192231;
    width: 100%;
    height: auto;
    font-size: 32px;
    background-color: whitesmoke;
    text-align: center;
}

section#coding-proj {
    color: white;
  
}

h2, h3, h4, h6 {
    margin-bottom: 10px;
}

.message-container {
    display: flex;
    align-items: center; 
    gap: 20px;
   
}

.button-output {
    margin-left: 100px;;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; 
   
    
}
.running-differences {
    display: flex;
    align-items: center; 
    gap: 20px; 
}

.button-output-run {
    margin-left:100px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 10px; 
}


.mixed-message h4 {
    text-align: center;
    text-decoration: underline;
    
    flex-wrap: wrap;
   font-size: 20px;
}
.project-category{
    padding: 20px;
    margin: 20px;
}
.project-category h3{
    margin-bottom: 20px;
    font-size: 32px;
    text-align: center;
    color: #192231;
    background-color: #CAC6BF;
    
}

.runningdifferences h4{
    text-align: center;
    text-decoration: underline;
    flex-wrap: wrap;
   font-size: 20px;

}

.project-category p{
    margin-bottom: 20px;
    font-size: 16px;
    text-align: center;
}

.list-container {
    display: flex;
    justify-content: space-between;
}

.list-group {
    flex: 1;
    margin-right: 20px; 
    font-size: 20px;
}

.list-group:last-child {
    margin-right: 0;
}

.project {
    font-size: 18px;
}

.project {
    position: relative;
    width: 100%; /* Adjust width as needed */
    height: 800px; /* Adjust height as needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Example box shadow */
    overflow: hidden; /* Ensure overflow is hidden */
    align-content: center;
}

.project h4 {
    margin: 0; /* Remove default margin */
    padding: 10px 20px; /* Adjust padding as needed */
    background-color: #CAC6BF; /* Example background color for title */
    border-top-right-radius: 5px; /* Example border radius */
    align-self: flex-start; 
    color: #192231;
    text-align: center;
}

.project img {
    width: 300px; 
    height: 400px; 
    object-fit: cover; 
    display: block;
    margin-bottom: 10px;
}

.project-category h4 {
    align-items: center;
}

.project-category img {
    width: 500px; 
    height: 700px; 
    object-fit: cover;
    display: block;
    margin-bottom: 10px;
    align-items: center;
}

.image-container {
    display: flex;
    justify-content: center; /* Center align items horizontally */
    flex-wrap: wrap;
    gap: 10px; /* Space between images */
    padding: 10px; /* Padding inside container */
}

.image-container img {
    max-width: 100%; /* Ensure images are responsive */
    height: auto; /* Maintain aspect ratio */
    flex-wrap: wrap;
    border-radius: 10px; /* Rounded corners */
    flex: 1; /* Distribute space evenly among images */
} 




/* digital art portfolio */
section#digital-art h2 {
    color: #192231;
    width: 100%;
    height: auto;
    font-size: 32px;
    background-color: whitesmoke;
    text-align: center;
}
#digital-art {
    margin: 0;
}
.procreate h3 {
    font-size: 24px;
}

.procreate h4 {
    font-size: 18px;
    text-transform: uppercase;
}

.procreate img {
    width: 300px; 
    height: 400px; 
    object-fit: cover; 
    display: block;
    margin-bottom: 10px;
}

.procreate-masks {
    display: flex;
    justify-content: baseline;
    flex-wrap: wrap;
    
}

.procreate-masks img {
    align-items: center;
    max-width: 100%;
    height: auto;
    margin-right: 10px; 
}

.procreate-gif {
    display: flex;
    justify-content: baseline;
    flex-wrap: wrap;
}

.procreate-gif img {
    height: 400px;
    width: 400px;
    align-items: center;
    max-width: 100%;
    margin-right: 10px; 
}

.pizza-menu {
    display: flex;
    justify-content: baseline;
    flex-wrap: wrap;
}

.pizza-menu img {
    width: auto;
    height: 400px;
    margin-right: 10px;
}

.halloween-special img {
    width: 500px;
    height: auto;
}

ul, ol {
    margin: 10px 0;
    padding-left: 20px;
}

ul li, ol li {
    margin-bottom: 5px;
}

/* Contact Info */
.contInfo {
    position: relative;
    height: 500px;
    width: 1200px;
    margin: auto;
    overflow: hidden;
}

.background-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.background-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 300px;
    height: auto;
    z-index: 2;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(255, 255, 255, 0.8); /* Optional: to make the text background slightly transparent */
    color: #192231;
    padding: 20px;
    border-radius: 10px;
}

.contact-block {
    margin: 0 10px;
    
    
}

.contact-block  a{
    color: #192231;
    text-decoration: none;
}
.contact-block a:hover {
    color:  #6191D3; /* Change to your preferred hover color */
    text-decoration: underline;
}

.contact-block h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.contact-block p {
    font-size: 20px;
    line-height: 1.8;
    text-align: left;
}


/* Footer */
footer {
    background-color: #192231;
    color: white;
    text-align: center;
    padding: 10px;
}
/* Ensure images are responsive */
@media (max-width: 768px) {
    .image-gallery img {
        max-width: 45%; 
    }
}

@media (max-width: 480px) {
    .image-gallery img {
        max-width: 90%; 
    }
}

@media (max-width: 768px) {
    .intro-content {
        flex-direction: column;
        align-items: center;
    }
    .intro-content p, .profile-pic {
        width: 100%;
    }
}
